.parent_sidebar {
    background-color: var(--bg-blue);
    line-height: 1.5;
    padding: 10px 6px;
    // /* padding: 8px 12px; */
    border-radius: var(--border-radius-md);
    overflow: hidden;
    // /* font-size: var(--text-base);
}
